# course config files
*.yaml

# gradle
.gradle/
/gradle/
/gradlew
/gradlew.bat
build
out

# idea config
.idea

# stages
/Simple Search Engine (Java)/Expand the search/
/Simple Search Engine (Java)/Inverted Index search/
/Simple Search Engine (Java)/Search strategies/
/Simple Search Engine (Java)/String theory/
/Simple Search Engine (Java)/User menu/
/Simple Search Engine (Java)/X-files/
